<div id="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div id="hero-box">
        <img id="hero-img" src="images/vehicles/delorean.jpg" alt="DMC Delorean Toon">
        <div id="sub-hero">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <div class="own-today-btn">
                <img id="own-today" src="images/site/own_today.png" alt="Own Today">
            </div>    
        </div>
    </div>
</div>
<div id="site-grid">
    <div id="reviews">
        <h2>DMC Delorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin' and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h2>Delorean Upgrades</h1>
        <div id="upgrades-grid">
            <figure id="flux-cap">
                <div class="upgrade">
                    <img src="images/upgrades/flux-cap.png" alt="DMC Flux Capacitor">
                </div>
                <figcaption>
                    <a href="index.ejs">Flux Capacitor</a>
                </figcaption>
            </figure>
            <figure id="flame">
                <div class="upgrade">
                    <img src="images/upgrades/flame.jpg" alt="DMC Flame Decals">
                </div>
                <figcaption>
                    <a href="index.ejs">Flame Decals</a>
                </figcaption>
            </figure>
            <figure id="bumper-sticker">
                <div class="upgrade">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="DMC Bumper Stickers">
                </div>
                <figcaption>
                    <a href="index.ejs">Bumper Stickers</a>
                </figcaption>
            </figure>
            <figure id="hub-cap">
                <div class="upgrade">
                    <img src="images/upgrades/hub-cap.jpg" alt="DMC Hub Caps">
                </div>
                <figcaption>
                    <a href="index.ejs">Hub Caps</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>


